<div class="container">
    <h1 style="text-align: center;color: pink;">View address for Id: {{id}}</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <td><label style="font-weight: bold;">Id:</label></td>
            <td>{{ address.id }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Line 1:</label></td>
            <td>{{ address.line1 }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Line 2:</label></td>
            <td>{{ address.line2 }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">City:</label></td>
            <td>{{ address.city }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">State:</label></td>
            <td>{{ address.state }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Pincode:</label></td>
            <td>{{ address.pincode }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Name:</label></td>
            <td>{{ address.user?.name }}</td>
        </tr>
    <button (click)="close();">Close</button>
</table>
