<div class="container">
    <h1 style="text-align: center;color: pink;">View User for Id: {{id}}</h1>
    <table class="table table-striped table-bordered">
        <tr>
            <td><label style="font-weight: bold;">Id:</label></td>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Name:</label></td>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Email:</label></td>
            <td>{{ user.emailId }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Gender:</label></td>
            <td>{{ user.gender }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Hobby:</label></td>
            <td>{{ user.hobby }}</td>
        </tr>
        <tr>
            <td><label style="font-weight: bold;">Image:</label></td>
            <td><img [src]="user.imageLocation+user.imageName"></td>
        </tr>
    <button (click)="close();">Close</button>
</table>
